{{#> post.html }}
<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h2 itemprop="headline">Reviewing a Developer Skill Assesment Tool</h2>
        <time itemprop="published" datetime="Friday, March 6, 2020 6:05 PM CST">Posted Friday, March 6, 2020 6:05 PM CST</time>
    </header>
    <meta itemprop="abstract" content="We're growing Zeal. So in an effort to optimize the hiring process and improve the probability of hiring people who can do the job, we're thinking through our interview process. As part of that, we're researching Skill Assessment systems. Here's my first impressions with a tool called Qualified.">
    <section itemprop="articleBody">
        <h3>
            Yeah Yeah, Let Us Get To It
        </h3>
        <p>
            TLDR; sure, just go ahead and try out <a href="https://www.qualified.io" title="Qualified">Qualified</a>. It's got an email like UI, lets you see a listing of candidates, assessments, send an invite to someone, track everyone's comments about a candidate, provides an IDE for the candidate to write and submit coding solutions, has a list of thoughtful coding problems for candidates to solve, provides a good UI to review the code and candidate. So yeah...that's pretty much it. I like that it does all those things, it feels feature complete to me. But there's another level to the problem and if you're interested in hearing what I think about that, read on. Otherwise, thanks for stopping by. Good luck.
        </p>
        <h3>
            The Long(ish) Story
        </h3>
        <p>
            I started this post thinking I'd write a review about <a href="https://www.qualified.io" title="Qualified">Qualified</a>. I went back and forth with my opinion on it. As a matter of fact, at <a href="https://www.zealitconsultants.com" title="Zeal IT Consulting Company">Zeal</a>, we've spent about 2 weeks talking about <strong>skill assessment tools</strong> and <strong>interviewing people</strong> in general. Partly because we've been interviewing a lot, and partly because I feel like we're thoughtful people and want to <strong>genuinely identify and understand the problem</strong>.
        </p>
        <div class="message" itemscope itemprop="hasPart" itemtype="http://schema.org/Message">
            <aside>
                <img itemprop="image" src="https://ca.slack-edge.com/T76PB42NB-U76HDJS30-6e96e021fa70-512" alt="Kijana Smiling" />
            </aside>
            <div>
                <h1>
                    <span itemprop="sender" itemtype="http://schema.org/Person">Kijana Woodard</span> <span itemprop="datePublished"  itemtype="http://schema.org/Message" content="2020-02-25">11:40 AM</span>
                </h1>
                <ol>
                    <li>
                        <p>
                            I invited many of you to take <a href="https://www.qualified.io" title="Qualified.io">Qualified.io</a> for a spin.
                        </p>
                        <p>
                            The idea is that we can use it in our hiring process to bring a bit more structure into the mix.
                        </p>
                        <p>
                            I sent everyone the "basic pre-screen" questions.
                        </p>
                        <p>
                            They have many languages and levels.
                        </p>
                    </li>
                    <li>
                        <p>
                            My question to everyone is
                        </p>
                        <ol>
                            <li>
                                What would you personally think about being asked to take such a screening?
                            </li>
                            <li>
                                Do you think such a tool would be helpful for Zeal?
                            </li>
                            <li>
                                If so, in what ways would it be helpful?
                            </li>
                            <li>
                                If not, what's a better alternative?
                            </li>
                        </ol>
                    </li>
                </ol>
            </div> 
        </div>
        <p>
            Trying to <strong>ascertain someone's skills is tough</strong> huh? I mean, even with a tool like <a href="https://www.qualified.io" title="Qualified">Qualified</a>, it's not really enough. You're still gonna have to <strong>spend time thinking about how the candidate solved the problems</strong>, what their code looked like, <strong>formatting</strong> and such; AND THEN, how all of those things <strong>map to skills</strong>. I mean, exactly <strong>what are the skills required to write quality software</strong>? How do you even <strong>define QUALITY</strong>? (if you're thinking it's bug count, this isn't the article for you; come back in 5 years when you're able to recognize the core problems)
        </p>
        <div class="message" itemscope itemprop="hasPart" itemtype="http://schema.org/Message">
            <aside>
                <img itemprop="image" src="https://ca.slack-edge.com/T76PB42NB-UN73Z8XC3-ff27e6e7187a-512" alt="Joey's Boss Pic" />
            </aside>
            <div>
                <h1>
                    <span itemprop="sender" itemtype="http://schema.org/Person">Joey Guerra</span> <span itemprop="datePublished"  itemtype="http://schema.org/Message" content="2020-02-26">9:00 AM</span>
                </h1>
                <ol>
                    <li>
                        <p>
                            First things first, what's the definition of quality software? Gotta have a clear answer for that before anything else.
                        </p>
                        <p>
                            Every time I think about what my answer to this question would be, I ask my self another question, and that is, "from who's perspective?"
                        </p>
                        <p>
                            It seems to me that quality means different things to different people. But if we hone in on who the stake holders are in software, I'd say it's 2, well 3, but I think the business at large is obviously a stake holder, but 2 are really important, the user and the developer (I know, I'm biased, humor me).
                        </p>
                        <p>
                            Having articulated that for myself, NOW I feel like I can come up with a really good definition of quality. Here it is:
                        </p>
                        <p>
                            As a user of the software, quality is the standard of page load, user error count, and consistency as measured against the previous version’s page load, user error count and consistency.
                        </p>
                        <p>
                            As a developer of the software, quality is the standard of readability, discoverability and leverage of existing code as measured against the previous version’s readability, discoverability and leverage of existing code.
                        </p>
                        <p>
                            The key points being that it's a standard and measured relative to how it performed previously.
                        </p>
                        <p>
                            <a href="https://www.joeyguerra.com/blog/2014/quality-software.html" title="My definition of quality software">My definition of quality software</a>
                        </p>
                    </li>
                </ol>
            </div> 
        </div>
        <p>
            Luckily, I've spent some time thinking about this, so I feel like I can form some opinions. But not everybody has; frankly, <strong>there's skill involved in identifying someone's code that results from a particular skill</strong>. For instance, <strong>good formating</strong> is an indication that someone has the <strong>skill to write clean code</strong>. Hmm. I wonder how much code you'd have to read to be able to make that assessment reliably? I'm guessing more than just a few solutions to a generic Computer Science problem. Not that it's impossible, just that it's not easy.
        </p>
        <p>
            This was what I was thinking about while using <a href="https://www.qualified.io" title="Qualified">Qualified's</a> code assessment UI. <strong>I was a little suprised that I could see a difference in skills when reviewing candidates (they were 2 other Zeal developers :) solutions to short problems</strong>. But I digress. I was thinking that Zeal has a bunch of developers, we can just create a code repo and define a problem ourselves for the candidate to solve; maybe we don't really need a tool to do that for us? I dunno yet. If you use <a href="https://www.qualified.io" title="Qualified">Qualified</a>, you wouldn't have to spend money solving that problem. Heh. That seems like a benefit.
        </p>
        <p>
            And then sometimes someone comes into Slack and drops a grenade that makes us all dive for rabbit holes, figuratively speaking of course.
        </p>
        <div class="messages" itemscope itemtype="http://schema.org/Conversation">
            <div class="message" itemscope itemprop="hasPart" itemtype="http://schema.org/Message">
                <aside>
                    <img itemprop="image" src="https://ca.slack-edge.com/T76PB42NB-UEHJA237G-ebc7a8c79115-512" alt="Cool Kenneth" />
                </aside>
                <div>
                    <h1>
                        <span itemprop="sender" itemtype="http://schema.org/Person">Kenneth Cassell</span> <span itemprop="datePublished"  itemtype="http://schema.org/Message" content="2020-03-05">10:23 AM</span>
                    </h1>
                    <ol>
                        <li>
                            <a href="https://austingwalters.com/over-and-under-qualified/" title="Over and under qualifed">https://austingwalters.com/over-and-under-qualified/</a>
                        </li>
                    </ol>
                </div> 
            </div>
            <div class="message" itemscope itemprop="hasPart" itemtype="http://schema.org/Message">
                <aside>
                    <img itemprop="image" src="https://ca.slack-edge.com/T76PB42NB-U76HDJS30-6e96e021fa70-512" alt="Kijana Smiling" />
                </aside>
                <div>
                    <h1>
                        <span itemprop="sender" itemtype="http://schema.org/Person">Kijana Woodard</span> <span itemprop="datePublished"  itemtype="http://schema.org/Message" content="2020-03-05">3:40 PM</span>
                    </h1>
                    <ol>
                        <li>
                            <p>
                                Great. Now I want to hire Austin Walters
                            </p>
                        </li>
                    </ol>
                </div> 
            </div>
            <div class="message" itemscope itemprop="hasPart" itemtype="http://schema.org/Message">
                <aside>
                    <img itemprop="image" src="https://ca.slack-edge.com/T76PB42NB-UEHJA237G-ebc7a8c79115-512" alt="Cool Kenneth" />
                </aside>
                <div>
                    <h1>
                        <span itemprop="sender" itemtype="http://schema.org/Person">Kenneth Cassell</span> <span itemprop="datePublished"  itemtype="http://schema.org/Message" content="2020-03-05">3:55 PM</span>
                    </h1>
                    <ol>
                        <li>
                            <p>
                                Yeah I know right! I had the same thought when I was reading it. “I wish we could hire this guy” <img src="https://a.slack-edge.com/production-standard-emoji-assets/10.2/apple-medium/1f602@2x.png" alt=":joy:" class="emoji" />
                            </p>
                        </li>
                    </ol>
                </div> 
            </div>
        </div>
        <p>
           Thanks alot <a href="https://austingwalters.com" title="Austin Walters: Some super smart Machine Learning, Data Engineering, Data Science developer">Austin Walters</a>. Somehow you've reached out from the internet, forced Kenneth to read your article and post it on Slack; and making a point that really resonates with us too. People are complex, not only do we have many different skills, but we also have variations of them too, which makes us super interesting and also super hard to put in an Enterprise Job Description box. Crap. This is really hard.
        </p>
        <p>
            On one side of the spectrum, you have people who are looking for good talent...ah, the "it's so hard to find good talent" fallacy. Alas. Such a nuanced topic. What talent are you actually looking for? I think we can all agree, nobody's born with the skill for writing quality software. It's developed. So what does it take? If someone's really typing out lots of code per day, or quick to solve logic problems, does that mean they'd directly add value to the business? Or better yet, to the teams ability to deliver quality software? And there it is. There's the thing that's difficult to do. <strong>Identifying the skills required to CONTRIBUTE   to our objectives</strong>, while at the same time, <strong>identifying the skills that would HINDER us from achieving our objectives</strong> (we don't want to hire those people, sorry, not sorry). <a href="https://www.qualified.io" title="Qualified">Qualified</a> isn't going to give you that. You have to figure that out on your own. And you're gonna have to figure it out regardless if you have a skill assessment tool. But I digress. There's the one side of the spectrum that's having a hard time finding good talent. And then there's the other side of the spectrum that isn't. What side are you on? Why do you think some people are having a hard time, while others aren't?
        </p>
        <p>
            I suspect it comes down to the individuals definition of talent and their understanding of the objectives; and whether or not they spend time to articulate the skills and talent they think will help them achieve those objectives. I personaly look for things like curiosity, grit, evidence of learning, before I think about whether they can solve a logic problem in code. But I think that's because I feel like I can teach someone to write quality software better than I can teach someone to be self motivated, respectful of others, or have a strong work ethic.
        </p>
        <p>
            Phew. I hope this adds to your Machine Learning Data Model in your head with regards to whether or not to use <a href="https://www.qualified.io" title="Qualified">Qualified</a>. Hiring people is a large problem domain and finding useful tools to help tackle it seems valuable. Hit me up on Twitter (<a href="https://twitter.com/ijoeyguerra" title="Joey Guerra's Twitter Account">@ijoeyguerra</a>) with your thoughts. I'd love to see what you think.
        </p>
    </section>
</article>
{{/post.html}}