<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <base href="../../">
    <!--<meta http-equiv="Content-Security-Policy" content="default-src https:">-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{{^meta.title}}Joey Guerra's Software Engineering Blog{{/meta.title}}{{{meta.title}}}</title>
    <meta name="author" content="Joey Guerra">
    <meta name="description" content="{{meta.summary}}{{^meta.summary}}Blog about software engineering, agile, leadership, strategy and organizations.{{/meta.summary}}">
    <meta name="image" content="https://www.joeyguerra.com{{meta.image}}{{^meta.image}}/imgs/me.jpg{{/meta.image}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{^meta.title}}Joey Guerra's Software Engineering Blog{{/meta.title}}{{{meta.title}}}">
    <meta property="og:image" content="https://www.joeyguerra.com{{meta.image}}{{^meta.image}}/imgs/me.jpg{{/meta.image}}">
    <meta property="og:description" content="{{meta.summary}}{{^meta.summary}}Blog about software engineering, agile, leadership, strategy and organizations.{{/meta.summary}}">
    <meta property="og:url" content="https://www.joeyguerra.com{{^meta.uri}}/blog/{{/meta.uri}}{{meta.uri}}">

    <link rel="apple-touch-icon" href="favicon_package_v0/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_package_v0/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_package_v0/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_package_v0/favicon-16x16.png">
    <link rel="manifest" href="favicon_package_v0/site.webmanifest">
    <link rel="mask-icon" href="favicon_package_v0/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="shortcut icon" href="favicon_package_v0/favicon.ico">

    <link rel="apple-touch-startup-image" href="launch.png">
    <meta name="apple-mobile-web-app-title" content="Joey Guerra">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-26060958-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-26060958-5');
    </script>
    <link rel="canonical" href="https://www.joeyguerra.com{{^meta.uri}}/blog/{{/meta.uri}}{{meta.uri}}">
    <link rel="stylesheet" href="css/tachyons.min.css">
    <link rel="stylesheet" href="blog/blog.css">
  </head>
  <body>
    <header>
        <h1><a title="Joey Guerra's Blog" href="blog/">Joey Guerra's Blog</a></h1>
        <a href="" title="Joey Guerra"><img id="logo" src="imgs/logo-2x.svg" /></a>
        <code>git clone https://gitlab.com/joey/joey.gitlab.io.git</code>
        <a id="repo-link" href="https://gitlab.com/joey/joey.gitlab.io" title="Blog Repo">https://gitlab.com/joey/joey.gitlab.io</a>
    </header>
    <main role="main">
        <section>
        {{> @partial-block}}
        </section>
    </main>
    <footer>
        <small>This is my personal blog. It's a playground I use to explore my own opinions and they are very dynamic. Please keep it in mind as you read through. I hope you enjoy this site.</small>
    </footer>
  </body>
</html>